/* 基本布局*/
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;
  width: 100%;

  $grid-spacing: ($layout-spacing / ($layout-spacing * 0 + 1)) * $html-font-size;
  @each $key, $value in $responsive-size{
    &.grid-#{$key}{
      max-width: $grid-spacing * 2 + $value;
    }
  }
}
/* 自适应布局*/
.row{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;
}
.column{
  flex: 1;
  max-width: 100%;
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;
  @for $i from 1 through 12{
    &.col-#{$i}{
      flex: none;
      width: percentage($number: $i/12);
    }
  }
  &.col-auto{
    flex: none;
    width: auto;
  }
  &.col-mx-auto{
    flex: none;
    margin-left: auto;
    margin-right: auto;
  }
  &.col-mr-auto{
    flex: none;
    margin-right: auto;
  }
  &.col-ml-auto{
    flex: none;
    margin-left: auto;
  }
  @each $key, $value in $responsive-size{
    @media (max-width:$value){
      @for $i from 1 through 12{
        &.col-#{$key}-#{$i}{
          flex: none;
          width: percentage($number: $i/12);
        }
      }
      .show-#{$value}{
        display: block !important;
      }
      .hide-#{$value}{
        display: none !important;
      }
    }
  }
}