@charset "UTF-8";
*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 18px;
  color: #2f2732;
  line-height: 1.5;
  font-family: Consolas;
  margin: 0; }

body {
  margin: 0; }

h1 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem; }

h2 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem; }

h3 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.2;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem; }

h4 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem; }

h5 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem; }

h6 {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem; }

img {
  max-width: 100%; }

p {
  margin: 0.5rem 0; }

a {
  font-size: inherit;
  text-decoration: none;
  color: #018798; }
  a:visited {
    color: #8A4ED7; }
  a:hover, a:active {
    color: #00a396;
    text-decoration: initial; }

input {
  font-size: inherit; }

[hidden] {
  display: none; }

/* 基本布局*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  width: 100%; }
  .container.grid-xs {
    max-width: 494.4px; }
  .container.grid-sm {
    max-width: 614.4px; }
  .container.grid-md {
    max-width: 854.4px; }
  .container.grid-lg {
    max-width: 974.4px; }
  .container.grid-xl {
    max-width: 1294.4px; }

/* 自适应布局*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.column {
  flex: 1;
  max-width: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem; }
  .column.col-1 {
    flex: none;
    width: 8.3333333333%; }
  .column.col-2 {
    flex: none;
    width: 16.6666666667%; }
  .column.col-3 {
    flex: none;
    width: 25%; }
  .column.col-4 {
    flex: none;
    width: 33.3333333333%; }
  .column.col-5 {
    flex: none;
    width: 41.6666666667%; }
  .column.col-6 {
    flex: none;
    width: 50%; }
  .column.col-7 {
    flex: none;
    width: 58.3333333333%; }
  .column.col-8 {
    flex: none;
    width: 66.6666666667%; }
  .column.col-9 {
    flex: none;
    width: 75%; }
  .column.col-10 {
    flex: none;
    width: 83.3333333333%; }
  .column.col-11 {
    flex: none;
    width: 91.6666666667%; }
  .column.col-12 {
    flex: none;
    width: 100%; }
  .column.col-auto {
    flex: none;
    width: auto; }
  .column.col-mx-auto {
    flex: none;
    margin-left: auto;
    margin-right: auto; }
  .column.col-mr-auto {
    flex: none;
    margin-right: auto; }
  .column.col-ml-auto {
    flex: none;
    margin-left: auto; }
  @media (max-width: 480px) {
    .column.col-xs-1 {
      flex: none;
      width: 8.3333333333%; }
    .column.col-xs-2 {
      flex: none;
      width: 16.6666666667%; }
    .column.col-xs-3 {
      flex: none;
      width: 25%; }
    .column.col-xs-4 {
      flex: none;
      width: 33.3333333333%; }
    .column.col-xs-5 {
      flex: none;
      width: 41.6666666667%; }
    .column.col-xs-6 {
      flex: none;
      width: 50%; }
    .column.col-xs-7 {
      flex: none;
      width: 58.3333333333%; }
    .column.col-xs-8 {
      flex: none;
      width: 66.6666666667%; }
    .column.col-xs-9 {
      flex: none;
      width: 75%; }
    .column.col-xs-10 {
      flex: none;
      width: 83.3333333333%; }
    .column.col-xs-11 {
      flex: none;
      width: 91.6666666667%; }
    .column.col-xs-12 {
      flex: none;
      width: 100%; }
    .column .show-480px {
      display: block !important; }
    .column .hide-480px {
      display: none !important; } }
  @media (max-width: 600px) {
    .column.col-sm-1 {
      flex: none;
      width: 8.3333333333%; }
    .column.col-sm-2 {
      flex: none;
      width: 16.6666666667%; }
    .column.col-sm-3 {
      flex: none;
      width: 25%; }
    .column.col-sm-4 {
      flex: none;
      width: 33.3333333333%; }
    .column.col-sm-5 {
      flex: none;
      width: 41.6666666667%; }
    .column.col-sm-6 {
      flex: none;
      width: 50%; }
    .column.col-sm-7 {
      flex: none;
      width: 58.3333333333%; }
    .column.col-sm-8 {
      flex: none;
      width: 66.6666666667%; }
    .column.col-sm-9 {
      flex: none;
      width: 75%; }
    .column.col-sm-10 {
      flex: none;
      width: 83.3333333333%; }
    .column.col-sm-11 {
      flex: none;
      width: 91.6666666667%; }
    .column.col-sm-12 {
      flex: none;
      width: 100%; }
    .column .show-600px {
      display: block !important; }
    .column .hide-600px {
      display: none !important; } }
  @media (max-width: 840px) {
    .column.col-md-1 {
      flex: none;
      width: 8.3333333333%; }
    .column.col-md-2 {
      flex: none;
      width: 16.6666666667%; }
    .column.col-md-3 {
      flex: none;
      width: 25%; }
    .column.col-md-4 {
      flex: none;
      width: 33.3333333333%; }
    .column.col-md-5 {
      flex: none;
      width: 41.6666666667%; }
    .column.col-md-6 {
      flex: none;
      width: 50%; }
    .column.col-md-7 {
      flex: none;
      width: 58.3333333333%; }
    .column.col-md-8 {
      flex: none;
      width: 66.6666666667%; }
    .column.col-md-9 {
      flex: none;
      width: 75%; }
    .column.col-md-10 {
      flex: none;
      width: 83.3333333333%; }
    .column.col-md-11 {
      flex: none;
      width: 91.6666666667%; }
    .column.col-md-12 {
      flex: none;
      width: 100%; }
    .column .show-840px {
      display: block !important; }
    .column .hide-840px {
      display: none !important; } }
  @media (max-width: 960px) {
    .column.col-lg-1 {
      flex: none;
      width: 8.3333333333%; }
    .column.col-lg-2 {
      flex: none;
      width: 16.6666666667%; }
    .column.col-lg-3 {
      flex: none;
      width: 25%; }
    .column.col-lg-4 {
      flex: none;
      width: 33.3333333333%; }
    .column.col-lg-5 {
      flex: none;
      width: 41.6666666667%; }
    .column.col-lg-6 {
      flex: none;
      width: 50%; }
    .column.col-lg-7 {
      flex: none;
      width: 58.3333333333%; }
    .column.col-lg-8 {
      flex: none;
      width: 66.6666666667%; }
    .column.col-lg-9 {
      flex: none;
      width: 75%; }
    .column.col-lg-10 {
      flex: none;
      width: 83.3333333333%; }
    .column.col-lg-11 {
      flex: none;
      width: 91.6666666667%; }
    .column.col-lg-12 {
      flex: none;
      width: 100%; }
    .column .show-960px {
      display: block !important; }
    .column .hide-960px {
      display: none !important; } }
  @media (max-width: 1280px) {
    .column.col-xl-1 {
      flex: none;
      width: 8.3333333333%; }
    .column.col-xl-2 {
      flex: none;
      width: 16.6666666667%; }
    .column.col-xl-3 {
      flex: none;
      width: 25%; }
    .column.col-xl-4 {
      flex: none;
      width: 33.3333333333%; }
    .column.col-xl-5 {
      flex: none;
      width: 41.6666666667%; }
    .column.col-xl-6 {
      flex: none;
      width: 50%; }
    .column.col-xl-7 {
      flex: none;
      width: 58.3333333333%; }
    .column.col-xl-8 {
      flex: none;
      width: 66.6666666667%; }
    .column.col-xl-9 {
      flex: none;
      width: 75%; }
    .column.col-xl-10 {
      flex: none;
      width: 83.3333333333%; }
    .column.col-xl-11 {
      flex: none;
      width: 91.6666666667%; }
    .column.col-xl-12 {
      flex: none;
      width: 100%; }
    .column .show-1280px {
      display: block !important; }
    .column .hide-1280px {
      display: none !important; } }

/*# sourceMappingURL=loli.css.map */
